<a class="card-content" href={{url}}>
  {{#if topic.thumbnails}}
    <img
      src={{fallbackSrc}}
      srcset={{srcset}}
      width={{width}}
      height={{height}}
      loading="lazy"
      class="topic-tile-thumbnail"
    />
    {{else}}
      <div
        width="100%"
        height="200px"
        class="topic-tile-thumbnail"
      ></div>
  {{/if}}

  <div class="topic-info">
    <div class="topic-header">
      <div class="category-link">{{category-link topic.category}}</div>
      <span class="topic-date">{{~format-date
          topic.createdAt
          format="medium"
        }}</span>
    </div>
    <span class="topic-title">{{topic.title}}</span>
    <span class="topic-author">
      {{#user-link user=topic.creator}}
        {{avatar topic.creator imageSize="small"}}
        {{topic.creator.name}}
      {{/user-link}}
    </span>
  </div>
</a>