<a href={{url}}>
  {{#if topic.thumbnails}}
    <img src={{fallbackSrc}} srcset={{srcset}} width={{width}} height={{height}} loading="lazy" class="topic-tile-thumbnail">
  {{/if}}
  <div class="topic-info">
    <span class="topic-title">{{topic.title}}</span>
    <span class="author">
      {{#user-link user=topic.creator}}
        {{avatar topic.creator imageSize="large"}}
      {{/user-link}}
    </span>
    
  </div>
</a>