<div class="content">
  <div class="front">
      {{#if topic.thumbnails}}
       <img src={{fallbackSrc}} srcset={{srcset}} width={{width}} height={{height}} loading="lazy" class="topic-tile-thumbnail">
      {{/if}}
  </div>
  <div class="back">
      <a href={{url}}>
        <div class="topic-info">
          <span class="topic-title">{{topic.title}}</span>
          <span class="author">
            {{#user-link user=topic.creator}}
            {{avatar topic.creator imageSize="small"}}
            {{/user-link}}
          </span>
        </div>
      </a>
  </div>
</div>